*{
   /* configurações gerais da pagina  */ 
margin: 0px auto;
padding: 0px;
box-sizing: border-box;
 font-size: 15px;

}
 body{
     /* tamanho da area para trabalho  */ 
    width: 100vw;
    height: 100vh;
   border: 1px solid blue;
   display: flex;
 
}
.conteudo{
      /* tamanho da area para trabalho para configuração  */ 
width: 1440px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: hsl(216, 12%, 8%);
}
 
.container  .box-container{
      /* tamanho da tela para conteudo   */ 
    width: 370px;
    height:370px;
    border: 1px solid red; 
    border-radius: 20px  ; 
    background-color:   hsl(213, 19%, 18%);
}
.container  .box-container .box-logo{
      /* local que vai receber o logo estrela   */ 
    width: 40px;
    height: 40px;
   border-radius: 50%; 
   border: 1px solid red; 
display: flex; 
justify-content: center;
align-items: center;
}
 
.container  .box-container .foto-logo{
    align-items: flex-start;
}
.container  .texto-container {
    padding-top: 20px;
    padding-left: 15px;
}
.container  .texto-container h1{
    /* cores do texto titulo */
    padding-bottom: 40px;
    color : hsl(0, 0%, 100%);
}
.container  .texto-container p{
    padding-bottom: 40px;
    color :  hsl(217, 12%, 63%);
}
.box-container  #box-logo{
   padding-top: 20px;
}
.icones-container{
display: flex;
justify-content: space-around;
padding-top: 20px;
padding-bottom: 40px;

}
.icones-container .box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid red; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
    }
.botao{
        width: 350px;
        height: 40px;
        border-radius: 22px;
        border: 1px solid red; 
        display: flex;
        justify-content: center;
        align-items: center;
        }