

 
.container  .box-container{
 text-align: center;
 background-color: hsl(213, 19%, 18%); 
}

.container  .box-container .box-resultado{
    /* local que vai receber o logo resultado   */ 
  display: flex;
  justify-content: space-around;  
 align-items: center; 
padding-top: 20px;
 } 

 .container  .box-container > button{
width: 250px;
height: 40px;
background-color:  hsl(214, 7%, 21%); 
color: orange;
 
border-radius: 20px;
font-size: 12px;
 margin: 25px;
 border-color:  hsl(214, 7%, 21%) ;
 display: inline ;
 }
 
 
 .container  .box-container   >p{ 
color: hsl(217, 12%, 63%);
 }
 .container  .box-container >button {
  display: inline;
 }
 .container  .box-container >button .texto{
  display: none;
 }
 .container  .box-container  h1{
margin: 10px;
font-size: 25px;
color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
 }