@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


*{
   /* configurações gerais da pagina  */ 
margin: 0px auto;
padding: 0px;
box-sizing: border-box;
 font-size: 15px;

}
 body{
     /* tamanho da area para trabalho  */ 
    width: 100vw;
    height: 100vh;  
   display: flex;
 background-color: rgba(70, 53, 53, 0.849);
}
